
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<button class="btn btn-lg btn-primary" type="button">Appointments</button>
<br />
<button class="btn btn-lg btn-primary" type="button">Cancel Appointment</button>
<br />
<button class="btn btn-lg btn-primary" type="button">View Doctors</button>
<br />