
@{
    ViewBag.Title = "Reserve";
}

<h2>Reserve</h2>
<label for="specialization">Select a specialization:</label>
<select id="specialization" onchange="populateDoctors()">
    <option value="">Select a specialization</option>
    <option value="cardiology">Dentistry</option>
    <option value="cardiology">Surgery</option>
    <option value="dermatology">Dermatology</option>
    <option value="dermatology">Psychiatry</option>
    <option value="neurology">Neurology</option>
    <option value="neurology">Pediatrics</option>
    <option value="cardiology">Cardiology</option>


</select>

<br>
<br>

<label for="doctor">Select a doctor:</label>
<select id="doctor">
    <option value="">Select a doctor</option>
</select>

<br>
<br>

<label for="datetime">Select a date:</label>
<input type="datetime-local" id="datetime" min="" required>

<br>
<br>

<button class="w-50 btn btn-lg btn-primary" type="submit" onclick="reserve()">Reserve</button>

<script>
    var now = new Date();
    var datetimeInput = document.getElementById("datetime");
    datetimeInput.setAttribute("min", now.toISOString().slice(0, 16));
</script>

<!--<script>
  function populateDoctors() {
    var specialization = document.getElementById("specialization").value;
    var doctors = document.getElementById("doctor");

    // Clear the current options
    doctors.innerHTML = "";

    if (specialization === "cardiology") {
      var option1 = document.createElement("option");
      option1.text = "Dr. Smith";
      doctors.add(option1);

      var option2 = document.createElement("option");
      option2.text = "Dr. Johnson";
      doctors.add(option2);
    } else if (specialization === "neurology") {
      var option1 = document.createElement("option");
      option1.text = "Dr. Kim";
      doctors.add(option1);

      var option2 = document.createElement("option");
      option2.text = "Dr. Lee";
      doctors.add(option2);
    } else if (specialization === "dermatology") {
      var option1 = document.createElement("option");
      option1.text = "Dr. Brown";
      doctors.add(option1);

      var option2 = document.createElement("option");
      option2.text = "Dr. Davis";
      doctors.add(option2);
    }
  }

  function reserve() {
    var datetime = document.getElementById("datetime").value;
    alert("Your reservation has been made for " + datetime);
  }

  // Set the min attribute of the datetime input to the current date and time
  var now = new Date();
  var datetimeInput = document.getElementById("datetime");
  datetimeInput.setAttribute("min", now.toISOString().slice(0,16));
</script>-->
