
@{
    ViewBag.Title = "Reserve";
}

<h2>Reserve</h2>
<label for="specialization">Select a specialization:</label>
<select id="specialization" onchange="populateDoctors()">
    <option value="">Select a specialization</option>
    <option value="cardiology">Dentistry</option>
    <option value="cardiology">Surgery</option>
    <option value="dermatology">Dermatology</option>
    <option value="dermatology">Psychiatry</option>
    <option value="neurology">Neurology</option>
    <option value="neurology">Pediatrics</option>
    <option value="cardiology">Cardiology</option>


</select>

<br>
<br>

<label for="doctor">Select a doctor:</label>
<select id="doctor">
    <option value="">Select a doctor</option>
</select>

<br>
<br>

<label for="date">Select a date:</label>
<input type="date" id="date" min="" required>

<br>
<br>

<button class="w-50 btn btn-lg btn-primary" type="submit" onclick="reserve()">Reserve</button>

<script>
    var now = new Date();
    var datetInput = document.getElementById("date");
    dateInput.setAttribute("min", now.toISOString().slice(0, 16));
</script>

